<div class="container-fluid p-0 d-flex justify-content-between">
    <app-menu class="sideMenu"></app-menu>
    <div class="container content col-12 col-md-6 col-lg-5">
        <div class="row mb-4 mt-5">
            <h1>Ajout d'un exercice</h1>
        </div>
        <form (ngSubmit)="exerciseForm.valid && createExercise()" [formGroup]="addExerciseForm" #exerciseForm="ngForm">
            <select class="form-select mb-3" aria-label="Muscular group selector" formControlName="muscularGroup"
                [ngClass]="{'is-invalid' : exerciseForm.submitted && addExerciseForm.get('muscularGroup')?.errors}">
                <option selected disabled value="">Groupe musculaire</option>
                <option *ngFor="let muscularGroup of muscularGroups" [value]="muscularGroup.id">{{muscularGroup.name}}
                </option>
            </select>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Ex : Développé couché"
                    formControlName="name"
                    [ngClass]="{'is-invalid' : exerciseForm.submitted && addExerciseForm.get('name')?.errors}">
                <label for="floatingInput">Nom de l'exercice</label>
            </div>
            <div class="form-floating mb-5">
                <textarea type="text" class="form-control" id="floatingInput"
                    placeholder="Ex : pour bien réaliser cet exercice..." formControlName="description"
                    style="height: 150px"
                    [ngClass]="{'is-invalid' : exerciseForm.submitted && addExerciseForm.get('description')?.errors}"></textarea>
                <label for="floatingInput">Description</label>
            </div>
            <button class="submitButton mb-2" type="submit">Ajouter</button>
        </form>
        <a routerLink="/"><button>Annuler</button></a>
    </div>
</div>