<div class="sideMenu d-flex flex-column">

    <div (click)="sendCloseMobileMenuInstruction()" routerLink="/" class="item d-flex align-items-center"><a><i class="bi bi-house"></i>Tableau de bord</a></div>

    <div (click)="showExercisesOptions()" class="item d-flex align-items-center"><a><i class="bi bi-dribbble"></i>Exercices<i
                class="bi bi-chevron-down"></i></a></div>

    <div *ngIf="exercisesOptionsAreShown" (click)="sendCloseMobileMenuInstruction()" routerLink="/"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-list-ul"></i>Tout voir</a></div>

    <div *ngIf="exercisesOptionsAreShown" (click)="sendCloseMobileMenuInstruction()" routerLink="/exercice/creation"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-plus-circle"></i>Ajouter</a></div>

    <div (click)="showMuscularGroupOptions()" class="item d-flex align-items-center">
        <a><i class="bi bi-wrench-adjustable-circle"></i>Groupes musculaires<i class="bi bi-chevron-down"></i></a>
    </div>

    <div *ngIf="muscularGroupOptionsAreShown" (click)="sendCloseMobileMenuInstruction()"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-list-ul"></i>Tout voir</a></div>

    <div *ngIf="muscularGroupOptionsAreShown" (click)="sendCloseMobileMenuInstruction()"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-plus-circle"></i>Ajouter</a></div>

    <div (click)="showAccountOptions()" class="item d-flex align-items-center">
        <a><i class="bi bi-person-circle"></i>Mon compte<i class="bi bi-chevron-down"></i></a>
    </div>

    <div *ngIf="accountOptionsAreShown" (click)="sendCloseMobileMenuInstruction()"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-info-circle"></i>Mes informations</a>
    </div>

    <div *ngIf="accountOptionsAreShown" (click)="sendCloseMobileMenuInstruction()"
        class="item d-flex align-items-center"><a class="subMenu"><i class="bi bi-arrow-repeat"></i>Modifier mon mot de passe</a>
    </div>

    <div class="item d-flex align-items-center">
        <a><i class="bi bi-door-closed"></i>Déconnexion</a>
    </div>
</div>