.sideMenu
    background-color: #EDF1F4
    width: 250px
    padding: 50px 0 0
    height: auto
    min-height: 100vh

a
    color: black
    text-decoration: none
    cursor: pointer
    padding-left: 30px

.item
    height: 50px

.item:hover
    background-color: #e2e6e9
    cursor: pointer
    color: #5C60F4

@media screen and (max-width: 768px)
    .sideMenu
        width: 100%
        position: fixed
        z-index: 2
        
